.PostPageHeader {
    width: 92%;
    height: 8%;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    cursor: default;
}
.Header {
    padding-left: 20px;
}
@media screen and (max-width: 980px) {
    .PostPageHeader {
        font-size: 40px;
    }
}
@media screen and (max-width: 720px) {
    .PostPageHeader {
        font-size: 30px;
    }
}
@media screen and (max-width: 470px) {
    .PostPageHeader {
        height: 5%;
    }
}