.CommentSectionItem {
    width: 92%;
    height: 10%;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
}
.SenderName {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    cursor: pointer;
}
.CommentText {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.60);
    cursor: default;
}
@media screen and (max-width: 980px) {
    .SenderName {
        font-size: 16px;
    }
    .CommentText {
        font-size: 13px;
    }
}
@media screen and (max-width: 720px) {
    .SenderName {
        font-size: 13px;
    }
    .CommentText {
        font-size: 10px;
    }
}
@media screen and (max-width: 470px) {
    .SenderName {
        font-size: 10px;
    }
    .CommentText {
        font-size: 10px;
    }
}