@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
/*
@media screen and (max-width: 1140px) { div.App {width: 1140px;} }
@media screen and (max-width: 992px) { div.App {width: 992px;} }*/
